.homeText {
	background: radial-gradient(circle, rgba(219, 29, 112, 1) 0%, rgba(62, 128, 207, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 250%;
	animation: textShine 20s linear infinite alternate;
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: transparent;
	-webkit-text-fill-color: rgb(24 24 27);
}
.countryText {
	background: radial-gradient(circle, rgba(180, 58, 58, 1) 21%, rgba(94, 20, 255, 1) 58%, rgba(222, 69, 252, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 250%;
	animation: textShine 50s linear infinite alternate;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: transparent;
	-webkit-text-fill-color: rgb(24 24 27);
}
.cityText {
	background: radial-gradient(circle, rgba(180, 58, 58, 1) 21%, rgba(94, 20, 255, 1) 58%, rgba(222, 69, 252, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 250%;
	animation: textShineReverse 50s linear infinite alternate;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: transparent;
	-webkit-text-fill-color: rgb(24 24 27);
}
.mapBorder {
	background: radial-gradient(circle, rgba(180, 58, 58, 1) 21%, rgba(94, 20, 255, 1) 58%, rgba(222, 69, 252, 1) 100%);
	background-size: 300%;
	animation: textShine 60s linear infinite alternate;
}

.clipboard {
	--clipboard-animation: textShine 25s linear infinite alternate;
	background: radial-gradient(circle, rgba(219, 29, 112, 1) 0%, rgba(62, 128, 207, 1) 100%);
	background-size: 500% 500%;
	animation: var(--clipboard-animation);
}

@keyframes textShine {
	0% {
		background-position: -250% 50%;
	}
	100% {
		background-position: 310% 50%;
	}
}
@keyframes textShineReverse {
	0% {
		background-position: 230% 50%;
	}
	100% {
		background-position: -330% 50%;
	}
}

.clipboardHidden {
	opacity: 0;
}

.clipboardAnimation {
	animation: pop 2.3s linear, var(--clipboard-animation);
	animation-fill-mode: forwards;
}

@keyframes pop {
	0% {
		transform: scale(0.7);
	}
	7% {
		transform: scale(1.2);
	}
	13% {
		transform: scale(1);
	}
	84% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
